div.collapsable div.collapsableHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

div.collapsable div.collapsableHeader button.toggle {
  border: 0;
  padding: 0;
  background-color: transparent;
  transition-duration: 250ms;
}

div.collapsable div.collapsableHeader button.toggle svg {
  width: 16px;
  height: 16px;
}

div.collapsable[data-collapsed="0"] div.collapsableHeader button.toggle {
  transform: rotate(0);
}

div.collapsable[data-collapsed="1"] div.collapsableHeader button.toggle {
  transform: rotate(180deg);
}

div.collapsable div.collapsableContent {
  margin-top: 1rem;
}
