.collapsable > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.collapsable > header svg {
  width: 16px;
  height: 16px;
}

.collapsable > header[aria-expanded="false"] svg {
  transform: rotate(0);
}

.collapsable > header[aria-expanded="true"] svg {
  transform: rotate(180deg);
}

.collapsable > div {
  margin-top: 1rem;
}

.collapsable + .collapsable {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
